.land {
  display: flex;
  flex-direction: column;
  justify-content: space;
  position: fixed;
  width: auto;
  height: 75vh;
  margin-top: 5%;
}
.logo {
  margin-top: 5%;
  margin-bottom: 2.5%;
}
.about {
  margin-left: 25%;
  margin-right:25%;
  margin-bottom: 5%;
}