#footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #00695C;
  max-height: 10%;
}
.pic {
  max-width: 25%;
  max-height: 25%;
}
.linktext {
  display: flex;
  flex-direction: row;
}